<div class="container">
  <div id = 'cover' class = "row">
    <div class="container col-lg-6 col-md-6 col-sm-6 col-xs-12 text-center">
      <h1>Personalized Breast Care</h1>
      <h2>A thorough guide for breast health.</h2>
      <br>
      <a class = "cover_shopping_link" href="/welcome/show"><img src="<%= asset_path( 'amazon-add.gif' ) %>" alt="" /></a>
    </div>
    <div class="container col-lg-6 col-md-6 col-sm-6 col-xs-12 text-center">
      <img class = "cover_book_image" src="<%= asset_path( 'Dr-Wirth_Book.png' ) %>" alt="<%= asset_path( 'Dr-Wirth_Book.png' ) %>" />
    </div>
  </div>
</div>
<div class="">
  <div class="container front_page_review" style="padding-left: 0px;">
    <div  class=" col-lg-5 col-md-5 col-sm-5 col-xs-12 " style="padding-left: 0px;">
      <img class = "wirth_review_icon" src="<%= asset_path( 'Dr.-Wirth_write-a-review.png' ) %>" alt="<%= asset_path( 'Dr.-Wirth_write-a-review.png' ) %>">
      <a href="https://www.facebook.com/PersonalizedBreastCare?fref=ts" target="_blank"><img class = "wirth_social_icons" src="<%= asset_path( 'Dr.-Wirth_Facebook-icon.png' ) %>" alt="<%= asset_path( 'Dr.-Wirth_Facebook-icon.png' ) %>"></a>
      <a href="https://www.pinterest.com/breastcareguide/" target="_blank"><img class = "wirth_social_icons" src="<%= asset_path( 'Dr.-Wirth_google-icon.png' ) %>" alt="<%= asset_path( 'Dr.-Wirth_google-icon.png' ) %>"></a>
      <a href="https://www.amazon.com/review/create-review?ie=UTF8&asin=1502398508&channel=detail-glance&nodeID=283155&ref_=cm_cr_dp_wrt_summary&store=books#" target="_blank"><img class = "wirth_social_icons" src="<%= asset_path( 'Dr.-Wirth_amazon-icon.png' ) %>" alt="<%= asset_path( 'Dr.-Wirth_amazon-icon.png' ) %>"></a>
    </div>
    <div  class="container col-lg-7 col-md-7 col-sm-7 col-xs-12 text-left">
      <div id="" class=" carousel slide authors" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
          <div class="item active amazon_reviews">
            <h4>- Sheila Pittman</h4>
            August 8, 2015
            <div class="stars">
              <img src="<%= asset_path( 'stars.gif' ) %>" alt="<%= asset_path( 'stars.gif' ) %>">
              Very informative. A must read book for women.
              This book is a must have for women who are considering any type of breast surgery.
              There is fantastic information for...
              <a href="http://www.amazon.com/review/RPFNB7O4JX7LG/ref=cm_cr_dp_title?ie=UTF8&ASIN=1502398508&channel=detail-glance&nodeID=283155&store=books" target="_blank">click for more</a>
            </div>
          </div>
          <div class="item">
            <h4>- Devon</h4>
            August 23, 2015
            <div class="stars">
              <img src="<%= asset_path( 'stars.gif' ) %>" alt="<%= asset_path( 'stars.gif' ) %>">
              I've been studying breast cancer and all of the treatments and side effects and
              I found this little book to be very interesting. I like that this was a positive and
              uplifting book....
              <a href="http://www.amazon.com/review/R1OFVWCUX3NFEM/ref=cm_cr_dp_title?ie=UTF8&ASIN=1502398508&channel=detail-glance&nodeID=283155&store=books" target="_blank">click for more</a>
            </div>
          </div>
          <!-- <div class="item">
              you
          </div>
          <div class="item">
              you
          </div>
          <div class="item">
              you
          </div>
          <div class="item">
              you
          </div>
          <div class="item">
              you
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
<div class="mobile_book text-center">
  <img class="img-responsive" src="<%= asset_path( 'Dr-Wirth_Book.png' ) %>" alt="<%= asset_path( 'Dr-Wirth_Book.png' ) %>">
  <h1>Personalized Breast Care</h1>
  <div class="container">
    <h3>A thorough guide for</h3>
    <br>
    <h3>breast health.</h3>
  </div>
  <br>
  <a class = 'book_anchor' href="/welcome/show">Buy Now</a>
</div>
<div class="container">
  <div class="row book">
    <div class="container col-lg-6 col-md-6 col-sm-6 col-xs-12 text-center">
      <img id = 'pricing'  class="img-responsive" src="<%= asset_path( 'Dr-Wirth_Book.png' ) %>" alt="<%= asset_path( 'Dr-Wirth_Book.png' ) %>">
    </div>
    <div class="share_button">
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">SHARE
        <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <div id="share-buttons">

              <!-- Facebook -->
              <a href="http://www.facebook.com/sharer.php?u=http://wirthps.herokuapp.com/" target="_blank">
                  <img src="https://simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" />
              </a>

              <!-- Google+ -->
              <a href="https://plus.google.com/share?url=http://wirthps.herokuapp.com/" target="_blank">
                  <img src="https://simplesharebuttons.com/images/somacro/google.png" alt="Google" />
              </a>

              <!-- LinkedIn -->
              <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=http://wirthps.herokuapp.com/" target="_blank">
                  <img src="https://simplesharebuttons.com/images/somacro/linkedin.png" alt="LinkedIn" />
              </a>

              <!-- Pinterest -->
              <a href="javascript:void((function()%7Bvar%20e=document.createElement('script');e.setAttribute('type','text/javascript');e.setAttribute('charset','UTF-8');e.setAttribute('src','http://assets.pinterest.com/js/pinmarklet.js?r='+Math.random()*99999999);document.body.appendChild(e)%7D)());">
                  <img src="https://simplesharebuttons.com/images/somacro/pinterest.png" alt="Pinterest" />
              </a>

              <!-- Twitter -->
              <a href="https://twitter.com/share?url=http://wirthps.herokuapp.com/" target="_blank">
                  <img src="https://simplesharebuttons.com/images/somacro/twitter.png" alt="Twitter" />
              </a>
          </div>
        </ul>
      </div>
    </div>
    <div class="container col-lg-6 col-md-6 col-sm-6 col-xs-12 text-left book_explanation">
      <ul>
        <h1>Paperback</h1>
        <li><h3>Learn about breast health today!</h3></li>
        <li><p>Order your Personalized Breast Care book today!</p></li>
        <li><p>Try these breast care tips today!</p></li>
        <li><p>Recent breast cancer diagnosis? Be prepared with Personalized Breast Care!</p></li>
        <li><p>Breast health made easy!</p></li>
      <li>  <p>Thinking about cosmetic surgery? Here’s what you need to know!</p></li>
      </ul>
      <a href="/welcome/show">Buy Now</a>
    </div>
  </div>
</div>

<div id="myCarousel2" class="container carousel slide authors" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel2" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel2" data-slide-to="1"></li>
    <li data-target="#myCarousel2" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div id = 'meet_authors' class="carousel-inner" role="listbox">
    <div class="item active">
      <div id = 'meet' class="container col-lg-6 col-md-6 col-sm-6 col-xs-12 text-left">
        <h1>MEET THE AUTHORS</h1>
        <br>
        <h5>Garrett A. Wirth</h5>
        <br>
        <p>
          Dr. Wirth remains on the cutting edge of his profession through his
          extensive academic and professional contributions to the field of plastic surgery.
          At UC Irvine, he works to educate the next generation of plastic surgeons.
          He has also co-edited a plastic surgery textbook, and published articles in national
          and international surgical journals.
        </p>
        <!-- <p>Garrett A. Wirth, MD, MS, FACS is a Board Certified Plastic Surgeon
           working in Orange County and Los Angeles County, California.
           He is a Clinical Professor of Plastic Surgery in the Department of Plastic Surgery,
           Aesthetic and Plastic Surgery Institute at the University of California – Irvine Medical Center.  
        </p>
        <br>
        <p>Dr. Wirth has a master’s degree in Physiology and Cell Biology,
           a Doctorate of Medicine from Albany Medical College, residency in General Surgery,
           and completed his training in Plastic and Reconstructive Surgery at the
           University of California – Irvine Medical Center.
        </p>
        <br>
        <p>  Dr. Wirth remains on the cutting
           edge of his profession through his extensive academic and professional
           contributions to the field of plastic surgery. At UC Irvine,
           he works to educate the next generation of plastic surgeons.
           He has also co-edited a plastic surgery textbook,
           and published articles in national and international surgical journals.
         </p> -->
         <a class = 'desktop_request_link' href="#">MORE INFORMATION</a>
      </div>
      <div class="container cont_book col-lg-6 col-md-5 col-sm-6 col-xs-12 text-center ">
        <br><br>
        <img  class="img-responsive book_image" src="<%= asset_path( 'Wirth_Image.jpg' ) %>" alt="<%= asset_path( 'Wirth_Image.jpg' ) %>">
      </div>
      <div class="text-center mobile_request_info_button col-xs-12">
        <a href="#">MORE INFORMATION</a>
      </div>
    </div>

    <div class="item">
      <div id = 'meet' class="container col-lg-6 col-md-6 col-sm-6 col-xs-12 text-left">
        <h1>MEET THE AUTHORS</h1>
        <br>
        <h5>Keyianoosh (Keyian) Z. Paydar</h5>
        <br>
        <p>
          Dr. Paydar has completed six years of General Surgery Residency,
          and an additional two years of Plastic and Reconstructive Surgery training.
          In addition, he has completed observerships in Aesthetic Surgery in Dallas, Miami,
          and New York under the guidance of world-renowned cosmetic surgeons.
        </p>
        <!-- <p>Keyianoosh (Keyian) Z. Paydar, MD, FACS is a Board Certified Plastic Surgeon and a
          Board Certified General Surgeon. Paydar is an Associate Clinical Professor at the Department of Plastic Surgery,
          Aesthetic and Plastic Surgery Institute at the University of California - Irvine Medical School.
        </p>
        <br>
        <p>  Dr. Paydar earned his bachelor’s degree from the University of California, Los Angeles,
          and his medical degree from the University of Tennessee, Memphis. At the University of California, San Francisco,
          Dr. Paydar went on to complete six years of General Surgery Residency,
          and an additional two years of Plastic and Reconstructive Surgery training.
          In addition, he completed observerships in Aesthetic Surgery in Dallas, Miami,
          and New York under the guidance of world-renowned cosmetic surgeons.
         </p> -->
         <!-- <p><a class = 'desktop_request_link' href="#">MORE INFORMATION</a></p> -->
      </div>
      <div class="container cont_book col-lg-6 col-md-5 col-sm-6 col-xs-12 text-center ">
        <br><br>
        <img  class="img-responsive book_image" src="<%= asset_path( 'Paydar_Image.jpg' ) %>" alt="<%= asset_path( 'Paydar_Image.jpg' ) %>">
      </div>
      <div class="text-center mobile_request_info_button col-xs-12">
        <!-- <a href="#">MORE INFORMATION</a> -->
      </div>
    </div>

    <div class="item">
      <div id = 'meet' class="container col-lg-6 col-md-6 col-sm-6 col-xs-12 text-left">
        <h1>MEET THE AUTHORS</h1>
        <br>
        <h5>Karen T. Lane</h5>
        <br>
        <p>
          Dr. Lane has earned her Medical Degree, General Surgery training,
          and Breast Fellowship training at the University of California, Los Angeles.
          After having earned many awards during that time, she joined the faculty of the University of California,
          San Francisco. She has been recruited to University of California,
          Irvine Medical Center to serve as an Associate Professor of
          Clinical Surgery and Clinical Director of the Breast Health Center.
        </p>
        <!-- <p>Karen T. Lane, MD, FACS is a Board Certified General Surgeon and a Fellowship Trained Breast Surgeon.
          Dr. Lane earned her bachelor’s degree from the University of California, Los Angeles.  
        </p>
        <br>
        <p>She went on to earn her Medical Degree, General Surgery training, and Breast Fellowship
          training at the University of California Los Angeles. After having earned many awards during that time,
          she joined the faculty of the University of California, San Francisco.
        </p>
        <br>
        <p>Due to her expertise in the field of breast surgery, Dr.
          Lane was recruited to the University of California,
          Irvine Medical Center to serve as an Associate Professor of Clinical Surgery and as the Clinical
          Director of the Breast Health Center.
         </p> -->
         <!-- <a class = 'desktop_request_link' href="#">MORE INFORMATION</a> -->
      </div>
      <div class="container cont_book col-lg-6 col-md-5 col-sm-6 col-xs-12 text-center ">
        <br><br>
        <img  class="img-responsive book_image" src="<%= asset_path( 'Lane_Image.jpg' ) %>" alt="<%= asset_path( 'Lane_Image.jpg' ) %>">
      </div>
      <div class="text-center mobile_request_info_button col-xs-12">
        <!-- <a href="#">MORE INFORMATION</a> -->
      </div>
    </div>
  </div>
</div>
