<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/Product" class="js flexbox canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths">
<head>
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Raleway:400,800,700,600,900">
  <title>WirthPS</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="index, follow" />
  <meta name="keywords" content="plastic surgery, cosmetic surgery, breast augmentation, breast implants, facelifts, rhinoplasty, liposuction, eyelid surgery, tummy tucks, and facial and skin rejuvenation" />
  <meta name="description" content="Offering plastic surgery such as breast augmentation, facelifts, liposuction and tummy tucks, as well as facial and skin rejuvenation." />

  <!-- Schema.org markup for Google+ -->
  <meta itemprop="name" content="Personalized Breast Care">
  <meta itemprop="description" content="A thorough guide for breast health.">
  <meta itemprop="image" content="http://wirthps.herokuapp.com/<%= asset_path( 'Dr-Wirth_Book.png' ) %>">

  <!-- Twitter Card data -->
  <meta name="twitter:title" content="Personalized Breast Care">
  <meta name="twitter:description" content="A thorough guide for breast health.">
  <meta name="twitter:creator" content="Garrett A. Wirth, Keyianoosh (Keyian) Z. Paydar, Karen T. Lane">
  <meta name="twitter:image" content="http://wirthps.herokuapp.com/<%= asset_path( 'Dr-Wirth_Book.png' ) %>">
  <meta name="twitter:data1" content="$35.99">


  <!-- Open Graph data -->
  <meta property="og:url" content="http://wirthps.herokuapp.com/" />
  <meta property="og:title" content="Personalized Breast Care" />
  <meta property="og:type" content="Book" />
  <meta property="og:image" content="http://wirthps.herokuapp.com/<%= asset_path( 'Dr-Wirth_Book.png' ) %>" />
  <meta property="og:description" content="A thorough guide for breast health." />
  <!-- <meta property="og:site_name" content="Site Name, i.e. Moz" /> -->
  <meta property="og:price:amount" content="35.99" />
  <meta property="og:price:currency" content="USD" />

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
</head>
<header>
  <div id='home' class="container logo_header text-center">
    <img src="<%= asset_path( 'Dr-Wirth_Logo.png' ) %>" alt="<%= asset_path( 'Dr-Wirth_Logo.png' ) %>">
  </div>
  <div id = "nav">
    <div class="container navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span>Menu</span>
          </button>
        </div>
        <div class="collapse navbar-collapse desktop_menu">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li>|</li>
            <li><a class="dropdown-toggle procedures_dropdown" type="button" data-toggle="dropdown">Procedures
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><a href="http://www.wirthplasticsurgery.com/breast.html">Breast</a></li>
              <li><a href="http://www.wirthplasticsurgery.com/body.html">Body</a></li>
              <li><a href="http://www.wirthplasticsurgery.com/face.html">Face</a></li>
            </ul></li>
            <li>|</li>
            <li><a href>Contact Us</a></li>
            <li>|</li>
            <li><a href>Shop</a></li>
            <li>|</li>
            <li><a href>Checkout</a></li>
            <li><div class="cartInfo"><span class="simpleCart_quantity"></span> items</div></li>
            <div id="cartPopover">
    					<div id="triangle">&#x25B2;</div>
    					<!-- <div class="simpleCart_items"></div> -->
    					<div id="cartData" class="clearfix">
    						<div class="left"><strong>Items: </strong><span class="simpleCart_quantity"></span></div>
    						<div class="right"><strong>Total: </strong><span class="simpleCart_total"></span></div>
					    </div>
    					<div id="popoverButtons" class="clearfix">
                <a href="javascript:;" class="simpleCart_empty hudbtn left">empty</a>
    						<!-- <a href="/cart/" class="hudbtn left">View</a> -->
    						<a href="javascript:;" class="simpleCart_checkout hudbtn primary right">Checkout</a>
    					</div>
				    </div>
            <!-- <li><a href="#contact" data-toggle="collapse" data-target=".navbar-collapse.in">Close</a></li> -->
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>
  <div class="container tags">
    <img src="<%= asset_path( 'Dr-Wirth_Logo.png' ) %>" alt="<%= asset_path( 'Dr-Wirth_Logo.png' ) %>">
    <a id='pricings' href="#pricing">Pricing</a>
    <a id='meetings' href="#meet_authors">Meet the Author</a>
    <a href="/welcome/show">Testimonials</a>
  </div>
  <div id="mobile-menu"class="mobile_menu">
    <div class="dropdown">
      <span><div class="cartInfo" id = "cartInfo"><span class="simpleCart_quantity"></span> items</div></span>
      <div id="cartPopover">
        <div id="triangle">&#x25B2;</div>
        <!-- <div class="simpleCart_items"></div> -->
        <div id="cartData" class="clearfix">
          <div class="left"><strong>Items: </strong><span class="simpleCart_quantity"></span></div>
          <div class="right"><strong>Total: </strong><span class="simpleCart_total"></span></div>
        </div>
        <div id="popoverButtons" class="clearfix">
          <a href="javascript:;" class="simpleCart_empty hudbtn left">empty</a>
          <!-- <a href="/cart/" class="hudbtn left">View</a> -->
          <a href="javascript:;" class="simpleCart_checkout hudbtn primary right">Checkout</a>
        </div>
      </div>
      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Menu
      <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a href="/">Home</a></li>
        <li><a href="/welcome/show">Purchase</a></li>
        <li><a href="http://www.wirthplasticsurgery.com/breast.html">Breast</a></li>
        <li><a href="http://www.wirthplasticsurgery.com/body.html">Body</a></li>
        <li><a href="http://www.wirthplasticsurgery.com/face.html">Face</a></li>
      </ul>
    </div>
  </div>
</header>
<body>

<%= yield %>

</body>
<footer>
  <div class="container ft">
    <span>400 Newport Center Drive, Suite 302, Newport Beach, CA 92660</span>
    <span class="text_gold"> &nbsp | &nbsp </span>
    <span>Phone: 1-949-706-9988</span>
    <span class="text_gold"> &nbsp | &nbsp </span>
    <span> <a href="http://www.wirthplasticsurgery.com/images/PrivacyPolicyWirth.pdf"> Privacy Policy </a> </span>
    <span id="share-buttons">

        <!-- Facebook -->
        <a href="https://www.facebook.com/PersonalizedBreastCare?fref=ts" target="_blank">
            <img src="https://simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" />
        </a>

        <!-- Pinterest -->
        <a href="https://www.pinterest.com/breastcareguide/" target="_blank">
            <img src="https://simplesharebuttons.com/images/somacro/pinterest.png" alt="Pinterest" />
        </a>

        <!-- Twitter -->
        <a href="https://twitter.com/breastcareguide " target="_blank">
            <img src="https://simplesharebuttons.com/images/somacro/twitter.png" alt="Twitter" />
        </a>
      </span>
    <!-- <span><a href="#">HOME</a></span>
    <span><a href="#">CONTACT</a></span>
    <span class = 'copyright'>Copyright <%= "\u00A9" %>2015 | Web Design by Venture Icon Media</span> -->
  </div>
</footer>
</html>
