<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/Product">
<head>
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Raleway:400,800,700,600,900">
  <title>WirthPS</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="index, follow" />
  <meta name="keywords" content="plastic surgery, cosmetic surgery, breast augmentation, breast implants, facelifts, rhinoplasty, liposuction, eyelid surgery, tummy tucks, and facial and skin rejuvenation" />
  <meta name="description" content="Offering plastic surgery such as breast augmentation, facelifts, liposuction and tummy tucks, as well as facial and skin rejuvenation." />

  <!-- Schema.org markup for Google+ -->
  <meta itemprop="name" content="The Name or Title Here">
  <meta itemprop="description" content="This is the page description">
  <meta itemprop="image" content="<%= asset_path( 'Dr-Wirth_Book.png' ) %>">

  <!-- Twitter Card data -->
  <meta name="twitter:card" content="product">
  <meta name="twitter:site" content="@publisher_handle">
  <meta name="twitter:title" content="Page Title">
  <meta name="twitter:description" content="Page description less than 200 characters">
  <meta name="twitter:creator" content="@author_handle">
  <meta name="twitter:image" content="<%= asset_path( 'Dr-Wirth_Book.png' ) %>">
  <meta name="twitter:data1" content="$3">
  <meta name="twitter:label1" content="Price">
  <meta name="twitter:data2" content="Black">
  <meta name="twitter:label2" content="Color">


  <!-- Open Graph data -->
  <meta property="og:title" content="Title Here" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="http://www.example.com/" />
  <meta property="og:image" content="<%= asset_path( 'Dr-Wirth_Book.png' ) %>" />
  <meta property="og:description" content="Description Here" />
  <meta property="og:site_name" content="Site Name, i.e. Moz" />
  <meta property="og:price:amount" content="15.00" />
  <meta property="og:price:currency" content="USD" />

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<header>
  <div id='home' class="container logo_header text-center">
    <img src="<%= asset_path( 'Dr-Wirth_Logo.png' ) %>" alt="<%= asset_path( 'Dr-Wirth_Logo.png' ) %>">
  </div>
  <div id = "nav">
    <div class="container navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span>Menu</span>
          </button>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li>|</li>
            <li><a href>Procedures</a></li>
            <li>|</li>
            <li><a href>Contact Us</a></li>
            <li>|</li>
            <li><a href>Shop</a></li>
            <li>|</li>
            <li><a href>Checkout</a></li>
            <!-- <li><a href="#contact" data-toggle="collapse" data-target=".navbar-collapse.in">Close</a></li> -->
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>
  <div class="container tags">
    <img src="<%= asset_path( 'Dr-Wirth_Logo.png' ) %>" alt="<%= asset_path( 'Dr-Wirth_Logo.png' ) %>">
    <a id='covers' href="#cover">Covers</a>
    <a id='pricings' href="#pricing">Pricing</a>
    <a id='meetings' href="#meet_authors">Meet the Author</a>
    <a href="/welcome/show">Testimonials</a>
  </div>
  <div id="mobile-menu"class="mobile_menu">
    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Menu
      <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a href="#">HTML</a></li>
        <li><a href="#">CSS</a></li>
        <li><a href="#">JavaScript</a></li>
      </ul>
    </div>
  </div>
</header>
<body>

<%= yield %>

</body>
<footer>
  <div class="container ft">
    <span>400 Newport Center Drive, Suite 302, Newport Beach, CA 92660</span>
    <span class="text_gold"> &nbsp | &nbsp </span>
    <span>Phone: 1-949-706-9988</span>
    <span class="text_gold"> &nbsp | &nbsp </span>
    <span> <a href="http://www.wirthplasticsurgery.com/images/PrivacyPolicyWirth.pdf"> Privacy Policy </a> </span>
    <span><i class="text_gold fa fa-facebook-official"><a href="#"></a></i></span>
    <!-- <span><a href="#">HOME</a></span>
    <span><a href="#">CONTACT</a></span>
    <span class = 'copyright'>Copyright <%= "\u00A9" %>2015 | Web Design by Venture Icon Media</span> -->
  </div>
</footer>
</html>
